<div class="row"><div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><center>New Question</center></h1>
  </div>
    <div class="panel-body">

<%= render 'form' %>

      <%= link_to 'Cancel', questions_path %>
  </div>
  </div>
  </div>
</div>