<div class="container">
  <center>
    <h1>Advertisers</h1>
    <p class="lead">
      This page is a work in progress.<br> For more information, contact David Steininger.
    </p>
    <%= link_to "Submit a Product", static_pages_advertisers_path, class: 'btn btn-lg btn-primary' %>
  </center>
</div>