<div class="container">
  <center>
    <h1>Jobs</h1>
    <p class="lead">
      This page is a work in progress.<br> For more information, contact David Steininger.
    </p>
    <%= link_to "Send Job Application", static_pages_jobs_path, class: 'btn btn-lg btn-primary' %>
  </center>
</div>